.empty-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
}

.empty-text{
    font-family: "Calibri", Times, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 430px;

}
